body{
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1{
	color: white;
}

button{
	margin: 10px;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: antiquewhite;
	font-weight: bold;
	transition-duration: 1s;
}
button:hover{
	padding: 12px 22px;
	
}